.home {
  background: #fff;
  position: relative;
}

.hero__container {
  position: relative;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
}

.hero__img {
  display: none;
}

.services {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}

.service__title {
  font-size: 1.6rem;
  font-weight: 800;
  color: #666;
  margin-bottom: 2rem;
}

.service__cards {
  width: 80%;
  margin: 0 auto;
}

.service__card {
  width: 60%;
  min-height: 180px;
  padding: 1.8rem;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.08);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img__box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.img__box img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.service__card h6 {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 400;
}

.card:hover {
  transform: translateX(10px);
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
  }

  .hero__left {
    padding: 1.8rem;
    width: 45%;
    position: absolute;
    top: 30%;
    transform: translate(0, -30%);
  }

  .hero__right {
    width: 40%;
    position: absolute;
    right: 0%;
    top: 5%;
    padding: 1.8rem;
  }

  .hero__title {
    color: #fff;
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .card {
    background: #fff;
    border-radius: 1.2rem;
    padding: 2rem;
    margin-bottom: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: auto;
  }

  .lg__card {
    width: 80%;
    background: #fff;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    padding: 1rem;
    margin-bottom: 1.8rem;
    position: relative;
    animation: lg 0.5s ease-in-out 1s infinite;
  }

  .lg__card::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 18px solid #fff;
    border-right: 8px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 0px;
    bottom: -20px;
  }
  
  .sm__card {
    width: 40%;
    background: #fff;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    padding: 1rem;
    margin-left: 4rem;
    width: 60%;
    position: relative;
    animation: sm 0.5s ease-in-out 1s infinite;
  }

  .sm__card::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 18px solid #fff;
    border-right: 8px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: -10px;
    left: 0px;
  }

  .hero__left .card {
    width: 90%;
    display: grid;
    grid-template-columns: 60px 1fr;
  }

  .hero__left .card .card__text {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .svg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(245, 54, 92, 0.29);
    display: grid;
    place-items: center;
  }

  .card__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card__text {
    color: #525F7F;
    font-size: 1.3rem;
    line-height: 124%;
  }

  .service__title {
    font-size: 3.4rem;
  }

  .service__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .img__box img {
    height: 100%;
    object-fit: cover
  }
  
  .service__card h6 {
    font-size: 1.4rem;
  }
}

@keyframes lg {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes sm {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 968px) {
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../assets/background.png");
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
  }

  .hero__left {
    margin-left: 5rem;
    padding: 0;
    width: 50%;
    position: absolute;
    top: 30%;
    transform: translate(0, -30%);
  }

  .hero__right {
    width: 30%;
    position: absolute;
    right: 0%;
    top: 5%;
  }

  .hero__title {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 2.4rem;
    width: 100%;
  }

  /* .card {
    position: relative;
    background: #fff;
    border-radius: 1.2rem;
    padding: 2rem;
    margin-bottom: 1.8rem;
  } */

  .card__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .card__text {
    color: #525F7F;
    font-size: 1.4rem;
    line-height: 124%;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%);
  }

  .hero__left {
    top: 35%;
  }

  .hero__right {
    top: 10%;
  }

  .hero__title {
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .hero__left .card {
    width: 70%;
  }

  .card__title {
    font-size: 1.95rem;
  }

  .card__text {
    font-size: 1.5rem;
  }

  .hero__img {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__left {
    margin-left: 12rem;
  }

  .hero__img {
    display: block;
    position: absolute;
    top: 72%;
    right: 20%;
    width: 50%;
    transform: translate(20%, -60%);
  }
}