@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn__primary {
  background: #3D55DF;
  color: #fff;
}

.btn__outline {
  color: #3D55DF;
}

.error {
  font-size: 1.8rem;
  margin-bottom: 1.9rem;
  color: red;
  display: grid;
  place-items: center;
}
