*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn__primary {
  background: #3D55DF;
  color: #fff;
}

.btn__outline {
  color: #3D55DF;
}

