@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn__primary {
  background: #3D55DF;
  color: #fff;
}

.btn__outline {
  color: #3D55DF;
}

.error {
  font-size: 1.8rem;
  margin-bottom: 1.9rem;
  color: red;
  display: grid;
  place-items: center;
}

.loading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #3D55DF;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

.google__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.8rem 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: #000;
  background: #fff;
  border: 1px solid #3D55DF;
  cursor: pointer;
}

.action {
  position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 968px)  {
  .lg__card {
    width: 80%;
  }
  
  .sm__card {
    width: 40%;
    background: yellow;
  }
}